<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs -->
      <app-breadcrumbs></app-breadcrumbs>
      <!-- Mi sistema de rutas -->
      <router-outlet></router-outlet>
    </div>
    <!-- Footer -->
    <!-- ============================================================== -->
    <footer class="footer">© 20XX Admin Pro by wrappixel.com</footer>
    <!-- ============================================================== -->
    <!-- End Footer -->
    <!-- ============================================================== -->
  </div>
</div>
<!-- Modal Imagen -->
<app-modal-image></app-modal-image>