<!-- Input Search -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" #txtSearchTerm (keyup)="search(txtSearchTerm.value)"
          class="form-control" placeholder="Buscar médicos...">
      </div>
    </div>
  </div>
</div>
<!-- Loading -->
<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Por favor espere</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Table -->
<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Médicos ({{ doctors.length }})</h4>
            <h6 class="card-subtitle">Médicos registrados en la aplicación</h6>
          </div>
          <div class="col">
            <div class="text-right">
              <a class="btn btn-primary" routerLink="/dashboard/medico/nuevo">
                <i class="fa fa-hospital-o"></i>&nbsp;Crear médico
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doctor of doctors">
                <td class="text-center">
                  <img [src]="doctor.image! | image:'doctors'" (click)="openImageModal(doctor)"
                    [alt]="doctor.name" class="avatar cursor-pointer">
                </td>
                <td>{{ doctor.name }}</td>
                <td class="text-nowrap text-center">
                  <a [routerLink]="['/dashboard', 'medico', doctor._id]"
                    data-toggle="tooltip" data-original-title="Editar">
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a class="cursor-pointer" data-toggle="tooltip" data-original-title="Borrar"
                    (click)="deleteDoctor(doctor)">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>